body {
    background-color: #BBBBBB;
}

header{
    background: #F02C00;
    padding: 20px 0;
}
#navigation{
    position: relative;
    width: 450px;
    height: 60px;
    margin: auto auto;
    background-color: #F02C00;
    text-align: center;
    
}
nav {
    background-color: #F02C00;
    top:10px;
    right: 0;
    padding-top: 30px;
    margin: -10px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;  
    color: white;  
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#mainShirt {
    width: 300px;
    margin-top: 20px;
    transition: 1s all;
}
.small {
    width: 100px;
    transition: 1s all;
}

.small:hover {
    transform: scale(1.1);
}

#mainShirt:hover {
    transform: scale(1.1);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 80%;
    margin: 10px auto auto auto;
}

section h1 {
    margin-top: 20px;
    font-size: 1em;
    width: 200px;
}

section p {
    width: 300px;
}

#similar {
    text-align: left;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    color: #801e00;
    text-indent: 30px;
}

#similiarProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px 0px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: white;
    width: 80%;
    margin: auto;

}

footer p {
    width: 40%;
}

#review {
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    color: #801e00;
}
    

    hr {
     width: 98%;
    }


