header{
    background: #BBBBBB;
    padding: 20px 0;
}
#navigation{
    position: relative;
    width: 450px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top:10px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;    
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

#mainShirt {
    width: 30%;
    margin-top: 20px;
}
.small {
    width: 10%;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section h1 {
    width: 100px;
    font-size: 1em;
}

